trunk/doc/schema/ActionView Generated XML Schemas/AddStatus.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
	<xs:element name="jedi">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="package" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>